body{
    font-family: Arial, sans-serif;
    background-color: hsla(0, 0%, 90%, 0.795);
}
h1{
    color: hsla(240, 85%, 57%, 0.534);
}
form{
   max-width: 358px;
   background-color: hsl(0, 0%, 100%);
   text-align: center;
   margin: auto;
   padding: 25px;
   box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.404);
   border-radius: 10px;
}
#input{
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
    width: 50%;
    text-align: center;
}
label{
    font-size: 1.6em;
}
button{
    background-color: rgba(255, 0, 0, 0.774);
    border: none;
    font-size: 1.7em;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
}
button:hover{
    background-color: hsla(0, 98%, 47%, 0.993);
}
#result{
    font-size: 1.5em;
}
